<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta nome="viewport" content="width=device-width, initial-scale=1">
    <title>Agenda telefonica</title>
  </head>
  <body>
    <h1>-Agenda de isaac-</h1>
  <dialog open aria-labelledby="dialogid">
  <form action="thankyou.php">
    <button type="submit" aria-label="close" formmethod="dialog" formnovalidate>X</button>
    <h2 id="dialogid">Aplicação</h2>
    <p>Adicionar contato</p>
    <p>
       <label>Nome:
         <input type="text" nome="name" required />
      </label>
    </p>
    <p>
      <label>idade:
        <input type="number" min="0" max="100" name="warranty" required />
       </label>
    </p>
      <p>
          <label>Contato:
        <input type="text" contato="name" required />
       </label>
      </p>
    <p>
      <label>Gênero:
        <select name="Genero">
          <option>Homem</option>
          <option>Mulher</option>
          <option>Não quero informar</option>
        </select>
      </label>
    </p>
    <p>
      <button type="submit" formmethod="post">Adicionar</button>
    </p>
  </form>
</dialog>

  </body>
</html>